<footer>
    <a href="/feed.xml"><img src="/assets/img/RSS-icon.svg" alt="RSS feed" width="20" height="20"/> RSS</a><br />
    <a href="https://github.com/berikv"><img src="/assets/img/github-mark-white.png" alt="Beriks github" width="20" height="20" /> Hosted on GitHub Pages</a>
    </ul>
</footer>

<footer>
    <a href="/feed.xml">
        <img src="/assets/img/RSS-icon.svg" alt="RSS feed" width="20" height="20"/> RSS
    </a>
    <br />
    <a href="https://github.com/berikv">
        <img src="/assets/img/github-mark-white.png" 
             alt="Berik's GitHub" 
             class="github-logo dark-mode" 
             width="20" height="20" />

        <img src="/assets/img/github-mark.png" 
             alt="Berik's GitHub" 
             class="github-logo light-mode" 
             width="20" height="20" />

        Hosted on GitHub Pages
    </a>
</footer>