<header>
    <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

    {% if site.logo %}
      <img src="{{site.logo | relative_url}}" alt="Logo" />
    {% endif %}

    <p>{{ site.description | default: site.github.project_tagline }}</p>

    <div class="post-list">
      <a href="/repairs"><h3>Repairs</h3></a>
      <ul>
        {% assign repair_posts = site.posts | where: "categories", "Repairs" | sort: "date" %}
        {% for post in repair_posts | sort: "date" | limit: 10 %}
          <li{% if post.url == page.url %} class="current" {% endif %}><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
      </ul>
    </div>

  </header>