<header>
    <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

    {% if site.logo %}
      <img src="{{site.logo | relative_url}}" alt="Logo" />
    {% endif %}

    <p>{{ site.description | default: site.github.project_tagline }}</p>

    <div class="post-list">
      <h3>Recent posts</h3>
      <ul>
      
      {% for post in site.posts | sort: "date" | limit: 4 %}
      <li{% if post.url == page.url %} class="current" {% endif %}><a href="{{ post.url }}">{{ post.categories | join | capitalize }} / {{ post.title }}</a></li>
      {% endfor %}
      </ul>
    </div>

  </header>