---
---

@import "{{ site.theme }}";

header h3 { margin-bottom: 10px; }

header .post-list {
    list-style-type: none;
    margin: 0px;
    padding-left: 10px;
}

header .post-list .current a:link { color: #888; }
header .post-list .current a:visited { color: #888; }
header .post-list .current a:hover { color: #888; font-weight: normal; }
header .post-list .current a:active { color: #888; }

footer ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

content strong {
    font-weight: 500;
}