---
---


@import "{{ site.theme }}";

/* Theme overwrites */

@media print, screen and (max-width: 960px) {
    header ul {
        position: inherit;
    }
}

/* Colors */

$background-light: #eee;
$background-dark: #202020;

$title-light: #343434;
$title-dark: #e7e8eb;

$text-light: #727272;
$text-dark: #acb2b8;

$bold-light: #000;
$bold-dark: #fff;

$link-visited: #888;

header .post-list .current a:link { color: $link-visited; }
header .post-list .current a:visited { color: $link-visited; }
header .post-list .current a:hover { color: $link-visited; font-weight: normal; }
header .post-list .current a:active { color: $link-visited; }

body {
    background-color: $background-light;
    color: $text-light;
}

footer {
    background-color: $background-light;
}

footer::before {
    background: linear-gradient(
        to bottom,
        rgba($background-light, 0) 0%,
        rgba($background-light, 1) 100%
    );
}

h1, h3 {
    color: $title-light;
}

strong {
    color: $bold-light;
}


/* Dark mode */
@media (prefers-color-scheme: dark) {
    body {
        background-color: $background-dark;
        color: $text-dark
    }

    header h3 {
        color: $text-dark;
    }

    footer {
        background-color: $background-dark;
    }

    footer::before {
        background: linear-gradient(
            to bottom,
            rgba($background-dark, 0) 0%,
            rgba($background-dark, 1) 100%
        );
    }

    h1, h2, h3 {
        color: $title-dark;
    }

    strong {
        color: $bold-dark;
    }

    .github-logo {
        content: url('/assets/img/github-mark-white.png');
    }
}

/* Fonts */

@font-face { font-family: WildBloodReguler; src: url('/assets/fonts/wild-blood-font/Wild-Blood.woff'); }
@font-face { font-family: 'Source Sans Pro'; src: url('/assets/fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf'); }

body {
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 21px;
    line-height: 31.5px;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

header,
header h3,
header li {
    font-size: 16px;
}

section li {
    font-size: 19px;
}

section h2 {
    font-family: WildBloodReguler, sans-serif;
    font-size: 20px;
}

section strong {
    font-weight: normal;
}

/* Elements */

a:hover,
a:link {
    font-weight: normal;
}

/* header layout */

header h3 {
    margin-bottom: 10px;
}

header .post-list {
    margin-bottom: 40px;
}

header .post-list ul {
    list-style-type: none;
    margin: 0px;
    padding-left: 10px;
}

/* footer layout */

/* General Footer Styles */
footer {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    bottom: 0;
    padding-bottom: 50px;
}

/* Gradient Effect */
footer::before {
    content: "";
    position: absolute;
    top: -40px;
    left: 0;
    width: 100%;
    height: 40px;
}

/* Link Styling */
.footer-link {
    display: flex;
    flex-direction: row;    /* Icons and text side by side */
    align-items: center;    /* Vertically align text and icons */
    gap: 5px;               /* Space between icon and text */
    text-decoration: none;
}

/* Icon Sizing */
.footer-link img {
    display: inline-block;
    width: 20px;
    height: 20px;
    padding-right: 8px;
    filter: grayscale(50%) brightness(75%);
}

footer {
    a:hover img,
    a:focus img {
        filter: grayscale(0%) brightness(100%);
    }
}

/* section layout */

section h2 {
    margin-top: 30px;
}

.post-title .author {
    font-size: 14px;
    display: inline;
}

/* post layout */

section .date {
    font-style: italic;
    font-size: 16px;
}
